<!doctype html>
<html>
<head>
    <script src="jquery-2.0.3.min.js"></script>
    <script src="angular.js"></script>
    <script src="angular-animate.js"></script>
    <script src="angular-sanitize.js"></script>
    <script src="ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="angular-route.js"></script>
    <script src="angular-cookies.js"></script>
    <link href="bootstrap.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet" />
</head>
<body>
        <div id = "bloque_blanco_up">
            <img src="UTFSM.gif" id = "usm" alt="usm">
        </div>
        <div class="container">
        <div class="col-sm-6 col-sm-offset-3" id="outPopUp" style="min-width: 500px;background: white; border-radius:6px">
            <h1 STYLE="font-size: 100px;color:#094d86; text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15); ">&nbsp;&nbsp;&nbsp;SAE</h1>
            <form action="/login" method="post">
                <div class="form-group">
                    <label>Correo</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Login</button>
            </form>
            <hr>
        </div>
    </div>

        <div id = "bloque_blanco_down">
            <a><img  src="deux.png" id = "deux" alt = "deux"></a>
        </div>
</body>
</html>
